@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:wght@500&display=swap');

body{
    height:100%;
    font-family: Sometype Mono;
}

.BG{
    background-image: linear-gradient(to bottom right, #2d788f, #328da8, #69cfdf,#b1dee5, #d9e9eb);
}

#wrapper{
    text-align:center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    min-height:100%;
}

Header{
text-align:center;
}

hr{
    width:80%;
    background-color:black;
    border:1.5px solid black;
}

#short{
    width:20%
}


article{
    margin:30px;
    text-align: center;
}

#spacer{
    height:2vw;
}

h1{
    text-decoration:underline;
    font-size:60px;
}

h2{
    font-size:40px;
}

.italic{
    font-style:italic;
}

h3{
    font-size: 25px;
}

ul{
    margin:0;
    padding:0;
    width:100%;
    text-align:center;
    list-style-type: none;
}

.bigbox{
    background-color:#2d788f;
    padding:0px;
    border:2px solid black;
    border-radius:3px;
    width:40%;
    margin:auto;
    margin-bottom:20px;
}

.box{
    background-color:#2d788f;
    padding:0px;
    border:2px solid black;
    border-radius:3px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    min-height:5vw;
    margin:auto;
    margin-bottom:10px;
}

.inner{
    width:80%;
    background-color:#549db3
}

li{
    width:40%;
    margin:auto;
}

#projecthead{
    color:#b1dee5;
}

a{
width:100%;
height:100%;
color:#b1dee5;
text-decoration: none;
}

#projectlink{
    transition: all 0.75s
}

#projectlink:hover{
    background-color:#063b43;
    transform: rotate(3deg) scale(1.2);
    transition: all 0.75s ease-in-out;
}